/data/
/clans/
/pages/
/index.html

*.o

/teerank-add-new-servers
/teerank-generate-index
/teerank-update-players
/teerank-update-servers
/teerank-update-clans
/teerank-generate-clan-page
/teerank-compute-ranks
/teerank-generate-rank-page
/teerank-paginate-ranks
/teerank-init-database
/teerank-update
/teerank.cgi
