<nav class="pages">
	{% for link in paginator %}
		{% if link['type'] == '...' %}
			<span>...</span>
		{% elif link['type'] == 'current' %}
			<a class="current">{{ link['page'] }}</a>
		{% elif link['type'] == 'page' %}
			<a href="{{ link['href'] }}">{{ link['page'] }}</a>
		{% elif link['type'] == 'button' %}
			{% if link['href'] %}
				<a class="{{ link['class'] }}" href="{{ link['href'] }}">{{ link['name'] }}</a>
			{% else %}
				<a class="{{ link['class'] }}">{{ link['name'] }}</a>
			{% endif %}
		{% endif %}
	{% endfor %}
</nav>
