<nav class="section_tabs">
	{% if section_tab['active'] == 'players' %}
	<a class="enabled">
	{% else %}
	<a href="{{ section_tab['players']['url'] }}">
	{% endif %}
		Players<small>{{ section_tab['players']['count'] }}</small>
	</a>

	{% if section_tab['active'] == 'clans' %}
	<a class="enabled">
	{% else %}
	<a href="{{ section_tab['clans']['url'] }}">
	{% endif %}
		Clans<small>{{ section_tab['clans']['count'] }}</small>
	</a>

	{% if section_tab['active'] == 'servers' %}
	<a class="enabled">
	{% else %}
	<a href="{{ section_tab['servers']['url'] }}">
	{% endif %}
		Servers<small>{{ section_tab['servers']['count'] }}</small>
	</a>
</nav>
