<nav class="section_tabs">
	{% if section_tab['type'] == 'players' %}
	<a class="enabled">
	{% else %}
	<a href="{{ url_for('route_players') }}">
	{% endif %}
		Players<small>{{ section_tab['players_count'] }}</small>
	</a>

	{% if section_tab['type'] == 'clans' %}
	<a class="enabled">
	{% else %}
	<a href="{{ url_for('route_clans') }}">
	{% endif %}
		Clans<small>{{ section_tab['clans_count'] }}</small>
	</a>

	{% if section_tab['type'] == 'servers' %}
	<a class="enabled">
	{% else %}
	<a href="{{ url_for('route_servers') }}">
	{% endif %}
		Servers<small>{{ section_tab['servers_count'] }}</small>
	</a>
</nav>
