<nav class="section_tabs">
	{% if section_tabs['active'] == 'players' %}
	<a class="enabled">
	{% else %}
	<a href="{{ section_tabs['players']['url'] }}">
	{% endif %}
		Players<small>{{ section_tabs['players']['count'] }}</small>
	</a>

	{% if section_tabs['active'] == 'clans' %}
	<a class="enabled">
	{% else %}
	<a href="{{ section_tabs['clans']['url'] }}">
	{% endif %}
		Clans<small>{{ section_tabs['clans']['count'] }}</small>
	</a>

	{% if section_tabs['active'] == 'servers' %}
	<a class="enabled">
	{% else %}
	<a href="{{ section_tabs['servers']['url'] }}">
	{% endif %}
		Servers<small>{{ section_tabs['servers']['count'] }}</small>
	</a>
</nav>
