{% if servers %}
<table class="serverlist">
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Gametype<img src="{{ url_for('static', filename='images/downarrow.png') }}"></th>
			<th>Map<img src="{{ url_for('static', filename='images/downarrow.png') }}"></th>
			<th>Players<img src="{{ url_for('static', filename='images/downarrow.png') }}"></th>
		</tr>
	</thead>

	<tbody>
		{% for server in servers %}
		<tr>
			<td>{{ server['rank'] }}</td>
			<td><a href="{{ url_for('server', address=server['address']) }}">{{ server['name'] }}</a></td>
			<td>{{ server['map']['gameType']['name'] }}</td>
			<td>{{ server['map']['name'] }}</td>
			<td>{{ server['numClients'] }} / {{ server['maxClients'] }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p>No servers found.</p>
{% endif %}
