<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Teerank is a simple and fast ranking system for teeworlds.">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<title>{% block title %}{% endblock %} - Teerank</title>
	</head>
	<body>
		<header>
			<a id="logo" href="/">
				<img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
			</a>
			<section>
				{% if section_tab is defined %}
					{% if section_tab['active'] == 'clans' %}
						<form action="{{ url_for('routes.clans-search') }}" id="searchform">
					{% elif section_tab['active'] == 'servers' %}
						<form action="{{ url_for('routes.servers-search') }}" id="searchform">
					{% else %}
						<form action="{{ url_for('routes.players-search') }}" id="searchform">
					{% endif %}
				{% else %}
					<form action="{{ url_for('routes.players-search') }}" id="searchform">
				{% endif %}
					<input name="q" type="text" placeholder="Search" {% if query %}value="{{ query }}"{% endif %}>
					<input type="submit" value="">
				</form>
			</section>
		</header>

		<main>
			{% include "components/top_tabs.html" %}

			<section>
				{% block content %}{% endblock %}
			</section>

			<nav id="bottabs">
				<ul>
					<li>
						<a href="/players/by-rank.json?p=1">JSON</a>
					</li>
					<li>
						<a href="/about-json-api#player-list">JSON Doc</a>
					</li>
					<li class="active">
						<a>HTML</a>
					</li>
				</ul>
			</nav>
		</main>

		<footer id="footer">
			<ul>
				<li>
					<a href="https://github.com/needs/teerank/tree/main">Teerank 4.0</a>
				 	<a href="https://github.com/needs/teerank/tree/HEAD">(stable)</a>
				</li>
				<li>
					<a href="{{ url_for('routes.status') }}">Status</a>
				</li>
				<li>
					<a href="{{ url_for('routes.about') }}">About</a>
				</li>
			</ul>
		</footer>
	</body>

</html>

