{% extends "base.html" %}

{% block title %}
All gametypes
{% endblock %}

{% block content %}
	{% if gametypes %}
	<table class="gametypelist">
		<thead>
			<tr>
				<th></th>
				<th>Gametype</th>
				<th>Players</th>
				<th>Clans</th>
				<th>Servers</th>
				<th>Maps</th>
			</tr>
		</thead>

		<tbody>
			{% for gametype in gametypes %}
			<tr>
				<td>{{ gametype['rank'] }}</td>
				<td><a href="{{ url_for('players', gametype=gametype['name']) }}">{{ gametype['name'] }}</a></td>
				<td><a href="{{ url_for('players', gametype=gametype['name']) }}">{{ gametype['maps'][0]['playerInfosAggregate']['count'] }}</a></td>
				<td><a href="{{ url_for('clans', gametype=gametype['name']) }}">{{ gametype['clans'] }}</a></td>
				<td><a href="{{ url_for('servers', gametype=gametype['name']) }}">{{ gametype['servers'] }}</a></td>
				<td><a href="{{ url_for('maps', gametype=gametype['name']) }}">{{ gametype['mapsAggregate']['count'] }}</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>No gametypes found.</p>
	{% endif %}

	{% include "components/paginator.html" %}
{% endblock %}
