{% extends "base.html" %}

{% block title %}
All maps
{% endblock %}

{% block content %}
	{% if maps %}
	<table class="maplist">
		<thead>
			<tr>
				<th></th>
				<th>Map</th>
				<th>Players</th>
				<th>Clans</th>
				<th>Servers</th>
			</tr>
		</thead>

		<tbody>
			{% for map in maps %}
			<tr>
				<td>{{ map['rank'] }}</td>
				<td><a href="{{ url_for('players', gametype=gametype, map=map['name']) }}">{{ map['name'] }}</a></td>
				<td><a href="{{ url_for('players', gametype=gametype, map=map['name']) }}">{{ map['playerInfosAggregate']['count'] }}</a></td>
				<td><a href="{{ url_for('clans', gametype=gametype, map=map['name']) }}">{{ map['clans'] }}</a></td>
				<td><a href="{{ url_for('servers', gametype=gametype, map=map['name']) }}">{{ map['servers'] }}</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>No maps found.</p>
	{% endif %}

	{% include "components/paginator.html" %}
{% endblock %}
