{% extends "base.html" %}

{% block title %}
Search - {{ query }}
{% endblock %}

{% block tab %}
<a>Search</a><a>{{ query }}</a>
{% endblock %}

{% block content %}
	{% include "components/section_tabs.html" %}

	{% if results %}
	<table class="serverlist">
		<thead>
			<tr>
				<th></th>
				<th>Name</th>
				<th>Gametype<img src="{{ url_for('static', filename='images/downarrow.png') }}"></th>
				<th>Map<img src="{{ url_for('static', filename='images/downarrow.png') }}"></th>
				<th>Players<img src="{{ url_for('static', filename='images/downarrow.png') }}"></th>
			</tr>
		</thead>

		<tbody>
			{% for server in results %}
			<tr>
				<td>{{ loop.index0 + 1 }}</td>
				<td><a href="{{ url_for('route_server', address=server['address']) }}">{{ server['name'] }}</a></td>
				<td>{{ server['gameType'] }}</td>
				<td>{{ server['map'] }}</td>
				<td>{{ server['numClients'] }} / {{ server['maxClients'] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>No servers found.</p>
	{% endif %}
{% endblock %}
