{% extends "base.html" %}

{% block title %}
{{ game_type }} - Servers
{% endblock %}

{% block content %}
	<nav class="section_tabs">
		<a href="/players">Players<small>620</small></a>
		<a href="/clans">Clans<small>{{ clans_count }}</small></a>
		<a class="enabled">Servers<small>{{ servers_count }}</small></a>
	</nav>

	<table class="serverlist">
		<thead>
			<tr>
				<th></th>
				<th>Name</th>
				<th>Gametype<img src="{{ url_for('static', filename='images/downarrow.png') }}"></th>
				<th>Map<img src="{{ url_for('static', filename='images/downarrow.png') }}"></th>
				<th>Players<img src="{{ url_for('static', filename='images/downarrow.png') }}"></th>
			</tr>
		</thead>

		<tbody>
			{% for server in servers %}
			<tr>
				<td>{{ 1 }}</td>
				<td><a href="/server?host=foo&port=8300">{{ server['name'] }}</a></td>
				<td>{{ server['gameType'] }}</td>
				<td>{{ server['map'] }}</td>
				<td>{{ server['numClients'] }} / {{ server['maxClients'] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<nav class="pages">
		<a class="previous">Previous</a>
		<a class="current">1</a>
		<a href="/players?p=2">2</a>
		<a href="/players?p=3">3</a>
		<a href="/players?p=4">4</a>
		<span>...</span>
		<a href="/players?p=5942">5942</a>
		<a class="next" href="/players?p=2">Next</a>
	</nav>
{% endblock %}
