{% extends "base.html" %}

{% block title %}
Status
{% endblock %}

{% block tab %}
<a>Status</a>
{% endblock %}

{% block content %}
	<h2>Teerank</h2>
	<section class="status status_ok"><span>Teerank</span><span>OK</span></section>
	<section class="status status_enabled"><span>2.x backward compatibility</span><span>Enabled</span></section>
	<section class="status status_enabled"><span>3.x backward compatibility</span><span>Enabled</span></section>

	<h2>Teeworlds</h2>
	{% for master_server in master_servers %}
		<section class="status status_{{ master_server['status_class'] }}">
			<span>{{ master_server['address'] }}</span>
			{% if master_server['comment'] %}
			<span class="comment">{{ master_server['comment'] }}</span>
			{% endif %}
			<span>{{ master_server['status'] }}</span>
		</section>
	{% endfor %}
{% endblock %}
